body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
.button {
  background-color: #885df1;
  color: white;
  border-radius: 5px;
  border: 1px solid #885df1;
  padding: 20px;
}
.search {
  background-color: #f9f7fe;
  color: #757575;
  border-radius: 6px;
  padding: 20px;
  border-color: transparent;
  width: 75%;
  font-size: 16px;
}
h1 {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  display: block;
}
p,
.day,
.hr,
.min {
  color: rgba(39, 33, 66, 0.4);
}
strong {
  color: #f65282;
}
a {
  color: #885df1;
}
.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  margin-top: none;
}
.current-temperature-unit {
  font-size: 28px;
  position: relative;
  margin-top: none;
}
.current-temperature-icon {
  width: 80px;
  height: 80px;
  margin-top: none;
}
.weather-forecast-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.forecast-day {
  font-size: 16px;
  opacity: 0.5;
}
.forecast-temp {
  font-size: 13px;
}
.high-temp {
  font-weight: bold;
  color: #f65282;
}
.low-temp {
  color: #f65282;
}

.cities {
  display: block;
}
div {
  display: block;
}
.temp {
  font-size: 48px;
}
.weather {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.contents {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
